<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 这里namespace的命名必须和对应的UserMapper.java文件的路径一样否则会报错 -->
<mapper namespace="MybatisTest2.dao.UserMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true">
    </cache>
	<!-- 根据id查询得到一个user对象 -->
	<select id="findById" parameterType="int" resultType="User">
		select * from user where id = #{id}
	</select>
	<!-- 添加user对象 -->
	<insert id="save" parameterType="User">
		insert into user(name,age) values(#{name},#{age})
	</insert>
	<!-- 删除user对象 -->
	<delete id="delete" parameterType="int">
		delete from user where id = #{id}
	</delete>
	<!--更新对象 -->
	<update id="update" parameterType="User">
		update user set name = #{name},age = #{age} where id = #{id}
	</update>
	<!-- 查询对象 -->
	<select id="findAll" resultType="User">
		select * from user
	</select>
	
</mapper>