<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MybatisTest2.ClassesMapper">
	<resultMap type="Classes" id="baseResultMap">
		<id property="cid" column="cid" />
		<result property="cname" column="cname" />
	</resultMap>
	
	<resultMap type="Classes" id="getMap" extends="baseResultMap">
	<!-- 
	     association:用于一对一关联查询
	     property：对象属性名称
	     column：对应外键字段名称//联合查询不需要该属性
	     javatype：对象的属性类型
	     select:使用另一个查询封装结果
	  -->
		<association property="teacher" javaType="Teacher">
			<id property="tid" column="tid" />
			<result property="tname" column="tname"/>
		</association>
	</resultMap>
	<select id="getone" resultMap="getMap">
		SELECT
		teacher.tid,
		class.cid,
		class.cname,
		teacher.tname
		FROM
		class
		INNER JOIN teacher ON class.tid = teacher.tid and class.cid=#{cid}

	</select>
	<select id="getAll" parameterType="int" resultMap="getMap">
		SELECT
		teacher.tid,
		class.cid,
		class.cname,
		teacher.tname
		FROM
		class
		INNER JOIN teacher ON class.tid = teacher.tid 

	</select>
    <select id="getClass2" parameterType="int" resultMap="getmap2">
     select * from class where cid=#{id}
   </select>
    <select id="getTeacher" parameterType="int" resultType="Teacher">
     SELECT tid, tname FROM teacher WHERE tid=#{id}
   </select>
   <resultMap type="Classes" id="getmap2">
        <id property="cid" column="cid" />
		<result property="cname" column="cname" />
		<!-- 
	     association:用于一对一关联查询
	     property：对象属性名称
	     column：对应外键字段名称//联合查询不需要该属性,如果是的单个查询结果做另外的查询条件，必须加上这个字段，否则报错
	     javatype：对象的属性类型
	     select:使用另一个查询封装结果
	  -->
		<association property="teacher" column="tid" select="getTeacher" javaType="Teacher">
			<id property="tid" column="tid" />
			<result property="tname" column="tname"/>
		</association>
   </resultMap>

</mapper>
