<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MybatisTest2.PuserMapper">
 
	<!-- 根据条件查询 -->
	<select id="getPuser" parameterType="map" resultType="Puser">
		select *from puser where puser.age between #{minage} and #{maxage} 
	</select>
	<!-- 多条件模糊查询 hashmap -->
	<select id="getSelectPuser" parameterType="hashmap" resultType="Puser">
		select * from puser where  
		
		<if test='name != "%null%"'> 
		  puser.pname like #{name} and 
		</if>
		
		 puser.age between #{minage} and #{maxage} 
	</select>
	
	<!-- 调用存储过程 -->
	<select id="getCount" parameterMap="procedureMap" statementType="CALLABLE">
	  CALL test.get_puser_count(?,?);
	</select>
	<parameterMap type="java.util.Map" id="procedureMap">
	   <parameter property="sexid" mode="IN" jdbcType="INTEGER"/>
	   <parameter property="usercount" mode="OUT" jdbcType="INTEGER"/>
	</parameterMap>
	<!-- 调用存储过程2 这里 写不写parameterType="hashmap"也可以-->
	<select id="getCount1" parameterType="hashmap" resultType="java.util.Map" statementType="CALLABLE">
	  CALL test.get_puser_count(#{sexid,mode=IN,jdbcType=INTEGER},#{usercount,mode=OUT,jdbcType=INTEGER});
	</select>
</mapper>
